    <interfaces xmlns="http://openconfig.net/yang/interfaces">
    {% for lag in host.facts.lag_list -%}
      <interface operation="replace">
        <name>{{lag.name}}</name>
        <config>
          <name>{{lag.name}}</name>
          {% if host.facts.platform == 'ios_xe' -%}
          <type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">ianaift:propVirtual</type>
          {% elif host.facts.platform == 'ios_xr' -%}
          <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ieee8023adLag</type>
          {% endif -%}
          <enabled>true</enabled>
        </config>
        <subinterfaces>
          <subinterface>
            <index>0</index>
            <ipv{{lag.ip_version}} xmlns="http://openconfig.net/yang/interfaces/ip">
              <addresses>
                <address>
                  <ip>{{lag.ip}}</ip>
                  <config>
                    <ip>{{lag.ip}}</ip>
                    <prefix-length>{{lag.prefix_length}}</prefix-length>
                  </config>
                </address>
              </addresses>
            </ipv4>
          </subinterface>
        </subinterfaces>
        <aggregation xmlns="http://openconfig.net/yang/interfaces/aggregate">
          <config>
            <lag-type>LACP</lag-type>
          </config>
        </aggregation>
      </interface>
      {% for interface in lag.interface_list -%}
      <interface>
        <name>{{interface}}</name>
        <config>
          <name>{{interface}}</name>
          {% if host.facts.platform == 'ios_xe' -%}
          <type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">ianaift:ethernetCsmacd</type>
          {% elif host.facts.platform == 'ios_xr' -%}
          <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
          {% endif -%}
          <enabled>true</enabled>
        </config>
        <subinterfaces>
          <subinterface>
            <index>0</index>
            <config>
              <index>0</index>
              <enabled>true</enabled>
            </config>
          </subinterface>
        </subinterfaces>
        <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
           <config>
           {% if host.facts.platform == 'ios_xe' -%}
            <auto-negotiate>true</auto-negotiate>
            <enable-flow-control>true</enable-flow-control>
           {% endif -%}
            <aggregate-id xmlns="http://openconfig.net/yang/interfaces/aggregate">{{lag.name}}</aggregate-id>
          </config>
        </ethernet>
      </interface>
      {% endfor -%}
    {% endfor -%}
    </interfaces>
