     <interfaces xmlns="http://openconfig.net/yang/interfaces">
     {% for lag in host.facts.lag_list -%}
       {% for int in lag.interface_list -%}
       <interface operation="replace">
         <name>{{int}}</name>
         <config>
           <enabled>true</enabled>
         </config>
       </interface>
       {% endfor -%}
     {% endfor -%}
     </interfaces>
     <interfaces xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-interface-cfg">
     {% for lag in host.facts.lag_list -%}
       <interface operation="replace">
         <interface-name>Bundle-Ether{{lag.id}}</interface-name>
         {% if lag.ip_version == 4 -%}
         <ipv4>
           <addresses xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-if-ip-address-cfg">
             <address>
               <address>{{lag.ip}}</address>
               <netmask>{{lag.mask}}</netmask>
             </address>
           </addresses>
         </ipv4>
         {% endif -%}
         <lacp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-if-bundle-cfg">
           <mode>active</mode>
         </lacp>
       </interface>
       {% for int in lag.interface_list -%}
       <interface operation="replace">
         <interface-name>{{int}}</interface-name>
         <bundle xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-if-bundle-cfg">
           <id>
             <bundle-id>{{lag.id}}</bundle-id>
             <mode>inherit</mode>
           </id>
         </bundle>
       </interface>
       {% endfor -%}
     {% endfor -%}
     </interfaces>

