router ospf {{ all.ospf_id }}
  address-family ipv4

{% for int in rtr.gis %}
  area {{ int.ospf_area }}
  interface {{ int.name }}
{% endfor %}
{% for int in rtr.lo %}
  area {{ int.ospf_area }}
  interface {{ int.name }}
{% endfor %}